*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    position: relative;
    transition: all 0.2s ease-in-out;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gencont{
    /* background-color: green; */
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.imgcont{
    display: inline-block;
    background-image: url(images/VV-L.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35%;
    background-color: #161719;
}
.login-container{
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    padding: 2rem 4rem;
    overflow-y: scroll;
    
    /* max-width: 40rem; */
}
.login-head-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    
    /* height: 200px; */
    width: 200px;
    border-radius: 20px;
    border: 3px solid #d7ac46;
    margin-bottom: 1rem;
    /* aspect-ratio: 1; */
}
h1{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
    color: #85c225;
}
h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    color: #555;
    border-bottom: 3px solid #d7ac46;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
form .identcont{
    
    margin: 2rem 0 4rem;
    h2{
        border:none;
    }
    .ident{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        div{
                padding: 1rem;
                width: 8rem;
                border-radius: 7px;
                aspect-ratio: 1;
                border: 3px solid #85c225;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            
            i{
                font-size: 3rem;
                color: #85c225;
                margin-bottom: 1rem;
            }
            p{
                font-size: 1.2rem;
                color: #85c225;
                font-weight: 600;
            }
            &:hover,&.active{
                background-color: #85c225;
                color: #f2f2f2;
                cursor: pointer;
                i, p{
                    color: #f2f2f2;
                }
            }
        
        }
    }
}
form .input-group-cont{
    display: contents;
}
form .input-group{
    width: 100%;
    margin-bottom: 1rem;
}
form .input-group input{
    width: 100%;
    border-radius: 7px;
    padding: 0.9rem;
    margin: 10px 0 10px;
    border:none;
    outline:  1px solid #d7ac46;
    font-size: 1rem;
    &:focus{
        outline: 2px solid #85c225;
    }
}
label{
    font-size: 1rem;
    font-weight: 500;
}
.foi-div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
    input{
        width: auto;
        margin: 0;
        accent-color: #85c225;
        height: 1.2rem;
        width: 1.2rem;
        cursor: pointer;
        
    }
    label{
        cursor: pointer;
    }
}

button[type="submit"]{
    font-size: 1.3rem;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #85c225;
    color: #f2f2f2;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    a{
        padding:1rem;
        width: 100%;
        height: 100%;
        display: inline-block;
        text-decoration: none;
        color:#f2f2f2;
    }
    &:hover{
        background-color: hsl(83, 68%, 50%);
    }
}
form .input-group input::placeholder{
    color: #cecece;
}

.biometFcont{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .biomet{
        padding: 1rem;
        border-radius: 50%;
        color: #f2f2f2;
        background-color: #85c225;
        i{
            color: #f2f2f2;
            font-size: 3rem;
        }
    }

}




/* @media screen and (max-width:1300px){
    .gencont{
        display: block;
    }
    .imgcont{
        display: inline-block;
        width: 100%;
        max-height: 10rem;
    } 
} */