*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    position: relative;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gencont{
    /* background-color: green; */
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.imgcont{
    display: inline-block;
    background-image: url(images/VV-L.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50%;
    background-color: #161719;
}
.login-container{
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem 4rem;
    
    
    /* max-width: 40rem; */
}
.login-head-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    
    /* height: 200px; */
    width: 200px;
    border-radius: 20px;
    border: 3px solid #d7ac46;
    margin-bottom: 1rem;
    /* aspect-ratio: 1; */
}
h1{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
    color: #85c225;
}
h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    color: #555;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form .input-group-cont{
    display: contents;
}
form .input-group{
    width: 100%;
    margin-bottom: 1rem;
}
form .input-group input{
    width: 100%;
    border-radius: 7px;
    padding: 0.9rem;
    margin: 10px 0 10px;
    border:none;
    outline:  1px solid #d7ac46;
    font-size: 1rem;
    &:focus{
        outline: 2px solid #85c225;
    }
}
form .input-group label{
    font-size: 1rem;
    font-weight: 500;
}
.foi-div{
    
}


button[type="submit"]{
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #85c225;
    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
    a{
        width: 100%;
        height: 100%;
        display: inline-block;
        text-decoration: none;
        color:#f2f2f2;
        padding:1rem;
    }
    &:hover{
        background-color: hsl(83, 68%, 50%);
    }
}
form .input-group input::placeholder{
    color: #cecece;
}
button.signup-button{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.signbutton{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 1rem;
}
button.login{
    width: 100%;
}
button.Biometrics{
    border-radius: 50%;
    padding:15px;
    aspect-ratio: 1;
    height: 100%;
}
/* @media screen and (max-width:1000px){
    .gencont{
        display: block;
    }
    .imgcont{
        display: none;
        width: 100%;
        max-height: 10rem;
    } 
    .login-container{
        width: 100%;
    }
} */